h2{
  color: white;
}

.btn-primary {
  background-color: #007bff; /* Same blue color as in the Japanese Hiragana page */
  color: #fff; /* Text color */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.hiragana-display {
  font-size: 150px;
  color: white;
  padding: 1px;
  margin: 1px 0;
}

.katakana-display {
  font-size: 150px;
  color: white;
  padding: 1px;
  margin: 1px 0;
}

.text-9xl {
  font-size: 6rem;
}

.font-bold {
  font-weight: bold;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mt-16 {
  margin-top: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.header-padding {
  padding: 1px;
}

.w-64 {
  width: 25%;
}

.custom-min-vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dropdown .dropdown-menu {
  background-color: #343a40;
  color: white;
}

.dropdown .dropdown-item {
  color: white;
}

.dropdown .dropdown-item:hover {
  background-color: #23272b;
}

.login{
  color: black;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
}

.btn-dark:hover {
  background-color: #23272b;
  border-color: #1d2124;
}

.ml-auto {
  margin-left: auto;
}


.button-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 4px; 
}

.btn-custom {
  flex: 1 0 150px; 
  max-width: 180px; 
  padding: 10px 20px; 
}

.yourAccount {
  text-align: center;
  padding: 20px; 
}

.YAForm {
  display: flex;
  align-items: center;
  justify-content: center; 
  max-width: 80%; 
  margin: 0 auto 1rem auto; 
  padding: 0.5rem; 
  border-radius: 15px; 
  background: #f8f9fa; 
}

.ya-name {
  padding: 0.8rem;
  margin-left: 10px;
  flex: 1; 
}

.button-ya {
  max-width: 80%;
  margin: 0 auto; 
}

.delete-button {
  margin-top: 1rem;
}

.btn-yesDelete{
  margin-right: 5px;
}


.schedule-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
}

.task-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  word-break: break-word;
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #888;
}

.task-text {
  flex: 1; /* Allows the text to take up available space */
  cursor: pointer;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn {
  margin: 0.5rem;
}
